.navbar {
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--bs-header-bg);

    &,
    &__left {
        height: var(--navbar-height);
    }

    &-toggler {
        border: none;
        border-radius: 0;
        
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__left {
        width: var(--side-menu-width);
        min-width: var(--side-menu-width);
        background-color: var(--bs-sidebar-dark-bg);
        padding-left: calc(var(--bs-gutter-x));
        padding-right: calc(var(--bs-gutter-x));
        transition: all 0.4s ease-in-out;

        body.menu-collapsed & {
            width: calc(var(--bs-gutter-x) + var(--bs-body-font-size) * 2.5);
            min-width: calc(var(--bs-gutter-x) + var(--bs-body-font-size) * 2.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
            padding-right: calc(var(--bs-gutter-x) * 0.5);
        }
    }

    &__notifications {
        font-size: calc(var(--bs-body-font-size) * 1.1);

        &-badge {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: var(--bs-green);
            bottom: 0;
            left: 0;
            border: 1px solid var(--bs-white);
        }
    }

    &__cart {
        font-size: calc(var(--bs-body-font-size) * 1.1);
    }

    &__dropdown {
        &,
        .dropdown-menu {
            font-size: calc(var(--bs-body-font-size) * 0.9);
        }

        .btn,
        .btn:active {
            background-color: transparent;
            border-color: transparent;
            color: var(--bs-body-color);
        }
    }

    @media (max-width: 767.98px) {
        &-toggler {
            padding-left: 0.1rem;
        }
    }
}