.notification-badge {
    border-radius: 2px;
    background-color: var(--bs-gray-200);
    font-size: calc(var(--bs-body-font-size) * 0.8);
    line-height: var(--bs-body-font-size);
    padding: calc(var(--bs-gutter-x) * 0.05) calc(var(--bs-gutter-x) * 0.15);
}