.user {
    padding-right: calc(var(--bs-gutter-x));

    &__verified-badge {
        position: absolute;
        right: 0;
        top: 0;
        font-size: calc(var(--bs-body-font-size) * 1.2);
        color: var(--bs-green);
    }

    &__avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        cursor: pointer;
    }    
}