@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.app
  display flex
  min-height 100vh
  flex-wrap nowrap
  max-width 1320px
  margin 0 auto
  font-family 'Inter', sans-serif
  font-weight 400

@import "blocks/body.styl";
@import "blocks/leftbar.styl";
@import "blocks/rightbar.styl";
@import "blocks/content.styl";
