<footer class="footer pb-4 pb-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 col-xl-3 footer__left pe-lg-4">
                <img src="../../../img/logo.webp" alt="" class="logo footer__logo" data-popup="false" />
                <div class="footer__contacts">
                    <div class="d-flex mb-3">
                        <img src="../../../img/icons/phone.svg" alt="" data-popup="false" />
                        <a href="tel:+78001111111" class="link link-grey-06 ms-2">+7 (800) 111-11-11</a>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="../../../img/icons/at.svg" alt="" data-popup="false" />
                        <a href="mailto:info@vimeo.ru" class="link link-grey-06 ms-2">info@vimeo.ru</a>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="../../../img/icons/question.svg" alt="" data-popup="false" />
                        <a href="#" class="link link-grey-06 link-underlined ms-2">Задать вопрос</a>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="../../../img/icons/speech.svg" alt="" data-popup="false" />
                        <a href="#" class="link link-grey-06 link-underlined ms-2">Оставить отзыв</a>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="text text-smaller text-grey-06">
                        текст текст текст текст текст текст текст текст текст текст текст текст текст
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-9 footer__right mt-4 mt-xl-5 ps-lg-4">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-3">
                        <div class="text text-bold mb-2 mb-md-3">
                            Заголовок
                        </div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Названиеназвание</div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mt-3 mt-md-0">
                        <div class="text text-bold mb-2 mb-md-3">
                            Заголовок
                        </div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mt-3 mt-xl-0">
                        <div class="text text-bold mb-2 mb-md-3">
                            Заголовок
                        </div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mt-3 mt-xl-0">
                        <div class="text text-bold mb-2 mb-md-3">
                            Заголовок
                        </div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                        <div class="text text-smaller text-grey-06 pt-1 pb-1">Название</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="section section-shadowed pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#" class="link link-grey-06 link-underlined">
                    <span class="text text-smaller text-semibold text-grey-06">Политика конфиденциальности</span>
                </a>
                <div class="text text-smaller text-grey-06">
                    &copy;&nbsp;Все права защищены авторским правом
                </div>
            </div>
        </div>
    </div>
</section>