<section class="section pt-5 pb-5">
    <div class="container">
        <div class="row row-dark row-round row-bordered ms-0 me-0">
            <div class="col-12 col-lg-7 pt-4 pb-4 ps-4">
                <h2 class="heading heading-h2 heading-left">Вопрос вопрос вопрос вопрос вопрос вопрос вопрос?</h2>
                <div>
                    <ol class="ps-4">
                        <li>
                            <span class="text text-bigger">
                                Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
                            </span>
                        </li>
                        <li>
                            <span class="text text-bigger">
                                Текст Текст Текст Текст Текст Текст Текст
                            </span>
                        </li>
                        <li>
                            <span class="text text-bigger">
                                Текст Текст Текст Текст Текст Текст Текст
                            </span>
                        </li>
                        <li>
                            <span class="text text-bigger">
                                Текст Текст Текст Текст Текст Текст Текст Текст Текст
                            </span>
                        </li>
                        <li>
                            <span class="text text-bigger">
                                Текст Текст Текст Текст Текст Текст
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="mt-4 text text-bigger">
                    Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст .
                </div>
            </div>
            <div class="col-12 col-lg-5 pe-0 d-none d-lg-block">
                <div class="image-block">
                    <img src="../../../img/third.webp" alt="" loading="lazy" class="image-block__img" />
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
                <button class="button button-reversed button-arrowed d-flex align-items-center js-appointment">
                    <span class="text text-uppercase text-semibold text-white button__text text-nowrap">
                        Записаться на проверку
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>