<div class="modal modal-lg fade" id="image-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-end">
                <button type="button" class="button button-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center"></div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="button" data-bs-dismiss="modal">
                    <span class="text text-uppercase text-semibold text-grey button__text text-nowrap">Закрыть</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="appointment-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form">
                <div class="modal-header justify-content-between">
                    <h5>Записаться на проверку зрения</h5>
                    <button type="button" class="button button-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="email" class="form__input w-100" name="email" placeholder="Введите свой e-mail"
                            required />
                    </div>
                    <div class="mb-3">
                        <input type="tel" class="form__input w-100" name="phone" placeholder="Введите свой телефон"
                            required />
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-items-center">
                            <input class="form-check-input form__checkbox" type="checkbox" id="subscribeCheckbox"
                                required />
                            <label class="form__label ms-3" for="subscribeCheckbox">
                                Я хочу получать информацию о новостях и акциях компании
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="button" data-bs-dismiss="modal">
                        <span
                            class="text text-uppercase text-semibold text-grey button__text text-nowrap">Закрыть</span>
                    </button>
                    <button type="submit" class="button button-reversed">
                        <span class="text text-uppercase text-semibold text-white button__text text-nowrap">Отправить
                            форму</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>