<section class="section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="heading heading-h2">Заголовок заголовок заголовок</h2>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="item">
                    <div class="item__image d-flex justify-content-center">
                        <span class="item__icon">
                            <img src="../../../img/icons/1.svg" />
                        </span>
                    </div>
                    <div class="item__content">
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст <span class="text text-green">Текст текст</span> Текст текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="item">
                    <div class="item__image d-flex justify-content-center">
                        <span class="item__icon">
                            <img src="../../../img/icons/2.svg" />
                        </span>
                    </div>
                    <div class="item__content">
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст Текст Текст Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст Текст
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="item">
                    <div class="item__image d-flex justify-content-center">
                        <span class="item__icon">
                            <img src="../../../img/icons/3.svg" />
                        </span>
                    </div>
                    <div class="item__content">
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="item">
                    <div class="item__image d-flex justify-content-center">
                        <span class="item__icon">
                            <img src="../../../img/icons/4.svg" />
                        </span>
                    </div>
                    <div class="item__content">
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст Текст Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="item">
                    <div class="item__image d-flex justify-content-center">
                        <span class="item__icon">
                            <img src="../../../img/icons/5.svg" />
                        </span>
                    </div>
                    <div class="item__content">
                        <div class="text text-bigger text-uppercase text-bold">
                            <span class="text text-green">Текст Текст Текст Текст</span>
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст Текст Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="item">
                    <div class="item__image d-flex justify-content-center">
                        <span class="item__icon">
                            <img src="../../../img/icons/5.svg" />
                        </span>
                    </div>
                    <div class="item__content">
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст Текст
                        </div>
                        <div class="text text-bigger text-uppercase text-bold">
                            Текст Текст
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
                <button class="button button-reversed button-arrowed d-flex align-items-center js-appointment">
                    <span class="text text-uppercase text-semibold text-white button__text text-nowrap">
                        Записаться на проверку
                    </span>
                </button>
            </div>
        </div>
        <div class="row mt-5 align-items-start">
            <div class="col-12 col-lg-8">
                <h2 class="heading heading-h2 heading-left">Текст текст:</h2>
                <ul>
                    <li>
                        <span class="text text-bigger">текст текст</span>
                    </li>
                    <li>
                        <span class="text text-bigger">текст текст текст текст</span>
                    </li>
                    <li>
                        <span class="text text-bigger">текст</span>
                    </li>
                    <li>
                        <span class="text text-bigger">текст текст текст текст текст текст текст текст текст текст
                            текст текст</span>
                    </li>
                    <li>
                        <span class="text text-bigger">текст текст текст текст текст текст текст текст текст текст
                            текст текст текст текст</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 d-none d-md-block image-block image-block-round">
                <img src="../../../img//second.webp" alt="" loading="lazy" />
            </div>
        </div>
    </div>
</section>