<section class="section section-dark pt-5 pb-5">
    <div class="container">
        <h2 class="heading heading-h2 heading-left">Заголовок</h2>
        <div class="row">
            <div class="col-12">
                <div id="swiper" class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper__item swiper-slide">
                            Вопрос вопрос вопрос?<br>
                            Текст Текст Текст Текст Текст Текст
                        </div>
                        <div class="swiper__item swiper-slide">
                            Вопрос вопрос вопрос?<br>
                            Текст Текст Текст Текст Текст Текст
                        </div>
                        <div class="swiper__item swiper-slide">
                            Вопрос вопрос вопрос?<br>
                            Текст Текст Текст Текст Текст Текст
                        </div>
                        <div class="swiper__item swiper-slide">
                            Вопрос вопрос вопрос?<br>
                            Текст Текст Текст Текст Текст Текст
                        </div>
                        <div class="swiper__item swiper-slide">
                            Вопрос вопрос вопрос?<br>
                            Текст Текст Текст Текст Текст Текст
                        </div>
                        <div class="swiper__item swiper-slide">
                            Вопрос вопрос вопрос?<br>
                            Текст Текст Текст Текст Текст Текст
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>