<section class="section section-dark pt-5 pb-5">
    <div class="container">
        <h2 class="heading heading-h2 heading-left">Заголовок</h2>
        <div class="row">
            <div class="col-12">
                <div id="swiper" class="swiper">
                    <div class="swiper-wrapper pb-3 pt-1">
                        <div class="swiper__item swiper-slide">
                            <div class="card d-flex flex-column">
                                <div class="card__header d-flex justify-content-center align-items-end">
                                    <img src="../../../img/swiper-image-1.webp" alt="" class="card__image"
                                        loading="lazy" id="card-image-1" />
                                    <img src="../../../img/ellipse-1.webp" alt="" loading="lazy"
                                        class="card__image card__ellipse" data-ref="#card-image-1"/>
                                </div>
                                <div class="card__body">
                                    <div class="text text-big text-bold">
                                        Вопрос вопрос вопрос?
                                    </div>
                                    <div class="mt-3 text">
                                        Текст Текст Текст Текст Текст Текст
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper__item swiper-slide">
                            <div class="card d-flex flex-column">
                                <div class="card__header d-flex justify-content-center align-items-end">
                                    <img src="../../../img/swiper-image-2.webp" alt="" class="card__image"
                                        loading="lazy" id="card-image-2"/>
                                    <img src="../../../img/ellipse-2.webp" alt="" loading="lazy"
                                        class="card__image card__ellipse" data-ref="#card-image-2"/>
                                </div>
                                <div class="card__body">
                                    <div class="text text-big text-bold">
                                        Вопрос вопрос вопрос?
                                    </div>
                                    <div class="mt-3 text">
                                        Текст Текст Текст Текст Текст Текст
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper__item swiper-slide">
                            <div class="card d-flex flex-column">
                                <div class="card__header d-flex justify-content-center align-items-end">
                                    <img src="../../../img/swiper-image-3.webp" alt="" class="card__image"
                                        loading="lazy" id="card-image-3" />
                                    <img src="../../../img/ellipse-3.webp" alt="" loading="lazy"
                                        class="card__image card__ellipse card__ellipse-3" data-ref="#card-image-3"/>
                                </div>
                                <div class="card__body">
                                    <div class="text text-big text-bold">
                                        Вопрос вопрос вопрос?
                                    </div>
                                    <div class="mt-3 text">
                                        <span class="text text-bold">Текст</span> Текст Текст Текст Текст Текст
                                    </div>
                                    <div class="mt-2 text">
                                        Текст Текст Текст*
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper__item swiper-slide">
                            <div class="card d-flex flex-column">
                                <div class="card__header d-flex justify-content-center align-items-end">
                                    <img src="../../../img/swiper-image-1.webp" alt="" class="card__image"
                                        loading="lazy" id="card-image-4" />
                                    <img src="../../../img/ellipse-1.webp" alt="" loading="lazy"
                                        class="card__image card__ellipse" data-ref="#card-image-4" />
                                </div>
                                <div class="card__body">
                                    <div class="text text-big text-bold">
                                        Вопрос вопрос вопрос?
                                    </div>
                                    <div class="mt-3 text">
                                        Текст Текст Текст Текст Текст Текст
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper__item swiper-slide">
                            <div class="card d-flex flex-column">
                                <div class="card__header d-flex justify-content-center align-items-end">
                                    <img src="../../../img/swiper-image-2.webp" alt="" class="card__image"
                                        loading="lazy" id="card-image-5" />
                                    <img src="../../../img/ellipse-2.webp" alt="" loading="lazy"
                                        class="card__image card__ellipse" data-ref="#card-image-5" />
                                </div>
                                <div class="card__body">
                                    <div class="text text-big text-bold">
                                        Вопрос вопрос вопрос?
                                    </div>
                                    <div class="mt-3 text">
                                        Текст Текст Текст Текст Текст Текст
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper__item swiper-slide">
                            <div class="card d-flex flex-column">
                                <div class="card__header d-flex justify-content-center align-items-end">
                                    <img src="../../../img/swiper-image-3.webp" alt="" class="card__image"
                                        loading="lazy" id="card-image-6" />
                                    <img src="../../../img/ellipse-3.webp" alt="" loading="lazy"
                                        class="card__image card__ellipse card__ellipse-3" data-ref="#card-image-6" />
                                </div>
                                <div class="card__body">
                                    <div class="text text-big text-bold">
                                        Вопрос вопрос вопрос?
                                    </div>
                                    <div class="mt-3 text">
                                        <span class="text text-bold">Текст</span> Текст Текст Текст Текст Текст
                                    </div>
                                    <div class="mt-2 text">
                                        Текст Текст Текст*
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="text text-grey-06">
                    *текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
                </div>
            </div>
        </div>
    </div>
</section>