<section class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3 pb-5">
                <div class="breadcrumbs d-flex flex-wrap align-items-center">
                    <img src="../../../img/icons/home.svg" alt="" />
                    <img src="../../../img/icons/bread-icon.svg" alt="" class="d-inline-block ms-2 me-2" />
                    <span class="text text-grey-06">Текст текст</span>
                </div>
                <h1 class="heading heading-h1">
                    Заголовок <span class="text text-green">текст текст</span> текст текст текст текст
                </h1>
                <div class="mb-4 text text-grey-06">
                    текст текст, текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст.
                </div>
                <div class="mb-4 text text-grey text-italic">
                    Текст – текст текст текст текст текст , текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст.
                </div>
                <button class="button d-flex align-items-center js-appointment">
                    <span class="text text-smaller text-uppercase text-semibold text-grey button__text text-nowrap">
                        Записаться на проверку
                    </span>
                </button>
            </div>
            <div class="col-12 col-lg-4 image-block d-none d-lg-block">
                <img src="../../../img/main.webp" alt="" loading="lazy" />
            </div>
        </div>
    </div>
</section>