.preloader {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.preloader__progressbar {
  position: absolute;
  z-index: 9999;
  left: 20%;
  right: 20%;
  transition: left 1s ease-in-out, right 1s ease-in-out, height 1s ease-in-out, opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  height: 20px;
}

.preloader__progressbar.expanded {
  left: 0;
  right: 0;
  transition-duration: 1s;
  height: 100%;
  opacity: 0;
  background-color: black;
}

.preloader__progressbar-line {
  background-color: black;
  height: 100%;
  width: 0;
}

.preloader__content {
  height: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
  transition-delay: 0.6s;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.preloader__content.visible {
  height: 100%;
  visibility: visible;
  opacity: 1;
}
