.svg-preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 1;
  visibility: visible;
  z-index: 9999;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.hidden, &__svg {
    transition: all 0.3s ease-in-out;
  }
}
