.waves {
    position: relative;
    overflow: hidden;
}

.waves__item {
  width: 200%;
  position: absolute;
  height: 200%;
  top: 0;
}

.waves__item_front {
  background-color: #1e509f;
  opacity: 0.6;
  z-index: 1;
}

.waves__item_back {
  background-color: #28ade1;
  opacity: 0.8;
  z-index: 0;
}
