.skills {
    &__list {
        margin-top: 10px;
    }
    &__star {
        @include mq(320, 768) {
            display: none;
        }
    }

    &__caption {
        width: 100%;
        font-weight: 700;
        font-size: 2em;
        font-family: Montserrat;
    }

    &__item {
        &-text {
            margin-left: 20px;
            border-bottom: 2px solid white;
            letter-spacing: 0.05em;
        }

        &-icon {
            background: url(../../../static/icons/sprite.webp);
            width: 48px;
            height: 48px;

            &_html {
                background-position: -78px -214px;
            }

            &_js {
                background-position: -10px -214px;
            }

            &_bs {
                background-position: -282px -78px;
            }

            &_css {
                background-position: -282px -10px;
            }

            &_njs {
                background-position: -146px -146px;
            }

            &_php {
                background-position: -78px -146px;
            }

            &_apache {
                background-position: -282px -146px;
            }

            &_docker {
                background-position: -214px -214px;
            }

            &_git {
                background-position: -146px -214px;
            }

            &_laravel {
                background-position: -214px -78px;
            }

            &_mysql {
                background-position: -214px -146px;
            }

            &_nginx {
                background-position: -214px -10px;
            }

            &_react {
                background-position: -10px -146px;
            }

            &_ts {
                background-position: -146px -10px;
            }

            &_sass {
                background-position: -146px -78px;
            }

            &_vuejs {
                background-position: -10px -78px;
            }

            &_webp {
                background-position: -78px -78px;
            }

            &_wp {
                background-position: -78px -10px;
            }

            &_yii {
                background-position: -10px -10px;
            }
        }
    }
}
