:root {
    --logo-width: 200px;
    --color-green: #6EB744;
    --color-second-green: #76B926;
    --color-third-green: #6CB644;
    --color-fourth-green: #82CA2C;
    --color-dark-green: #62A53C;
    --color-grey: #37454A;
    --color-black-09: rgba(0, 0, 0, 0.9);
    --color-black-01: rgba(0, 0, 0, 0.1);
    --color-grey-02: rgba(55, 69, 74, 0.2);
    --color-grey-06: rgba(55, 69, 74, 0.6);
    --color-light-grey: #F4F4F4;
    --color-second-light-grey: #DFDFDF;
    --color-third-light-grey: #EDEEF0;
    --font-size: 16px;
    --navbar-toggler-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    --transition-duration: 0.4s;
}