.button {
    background-color: var(--bs-white);
    border: 1px solid var(--color-second-green);
    border-radius: 26px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    height: 52px;

    &,
    &__text {
        transition: all var(--transition-duration) ease-in-out;
    }

    &__text {
        text-align: left;
    }

    &:hover {
        background-color: var(--color-second-green);
        border-color: transparent;
    }

    &:hover &__text {
        color: var(--bs-white);
    }
}