.card {
    border-radius: 8px;
    border: 1px solid var(--color-second-light-grey);
    box-shadow: 0px 4px 8px 0px var(--color-black-01);
    overflow: hidden;
    height: 100%;

    &__image {
        cursor: pointer;
    }

    &__header {
        background-color: var(--color-third-light-grey);
        height: 180px;
        overflow: hidden;
        position: relative;
    }

    &__body {
        padding: 15px 15px 30px 15px;
        background-color: var(--bs-white);
    }

    &__ellipse {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &-3 {
            transform: translateX(-43%);
        }
    }

    @media (min-width: 992px) {
        &__body {
            padding: 25px 25px 50px 25px;
        }   
    }
}