.form {
    &__input {
        height: 52px;
        border-radius: 26px;
        font-size: var(--font-size);
        padding-left: 20px;
        font-weight: 600;

        &,
        &:focus {
            border: 1px solid var(--color-third-green);
            outline: none;
        }
    }

    &__input,
    &__submit {
        width: 100%;
    }

    &__checkbox {
        width: 20px;
        height: 20px;

        &:checked {
            background-color: var(--color-green);
            border-color: var(--color-green);
        }

        &:checked,
        &:focus {
            box-shadow: none;
        }

        &,
        &:focus:not(:checked) {
            border-color: var(--color-grey-06);
        }
    }

    @media (min-width: 992px) {
        &__input {
            padding-left: 20px;
            width: 210px;
        }
    }
}