.header {
    left: 0;
    right: 0;
    top: 0;

    &__center {
        padding-right: 16px;
    }

    &__favored,
    &__cart {
        padding-right: 16px;
    }

    @media (min-width: 992px) {
        position: fixed;

        &__center {
            border-right: 1px solid var(--color-light-grey);
            border-left: 1px solid var(--color-light-grey);
        }

        &__center {
            margin-left: 12px;
        }

        &__favored,
        &__cart,
        &__phone {
            text-align: right;
        }
    }

    @media (min-width: 1200px) {

        &__center,
        &__right {
            padding-left: 16px;
        }
    }
}