.row {
    &-dark {
        background-color: var(--color-light-grey);
    }

    &-round {
        border-radius: 20px;
        overflow: hidden;
    }

    &-bordered {
        border: 1px solid var(--color-second-light-grey);
    }
}