.socials {
    &__item {
        background-color: var(--color-light-grey);
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    @media (min-width: 992px) {
        &__item {
            width: 60px;
            min-width: 60px;
            height: 60px;
        }
    }
}