@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
  url("../fonts/Montserrat/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}